<header id="top" class="header">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <!--<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&effect=brick-sign"> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
  
  <!--<style>
      .w3-lobster {
       font-family: "Lobster", Sans-serif;
       }
  </style> -->
  
  <style>
      .w3-tangerine {
      font-family: "Tangerine", serif;
      }
  </style>
  <div class="text-vertical-center w3-container w3-tangerine">
    <h1>Edison&Jenny</h1> 
      <h3> THE LOVE OF A <span class="w3-xxxlarge"> lifetime </span>  </h3>  
        <!-- <br>
          <a href="#about" class="btn btn-dark btn-lg w3-xlarge">Nuestra Historia</a> -->
  </div>
  

  
</header>
