<header id="top" class="header">
  
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster&effect=brick-sign">
  <style>
      .w3-lobster {
       font-family: "Lobster", Sans-serif;
       }
  </style>
  
  <div class="text-vertical-center w3-container w3-lobster font-effect-brick-sign">
    <h1>Edison&Jenny</h1>
    <h3 class="w3-large"> THE LOVE OF A </h3> <p class="w3-xlarge"> lifetime </p>
    <br>
    <a href="#about" class="btn btn-dark btn-lg">Find Out More</a>
  </div>
</header>
